@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220; */
  /* --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* --background-start-rgb: 0, 0, 0; */
    /* --background-end-rgb: 0, 0, 0; */
  }
}

body {
  /* margin: 8px; */
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .stack-item {
    grid-area: 1 / 1 / 2 / 2;
  }
  .text-balance {
    text-wrap: balance;
  }
}
/* custom css */

/* Add to your CSS file or <style> tag */

.menu-icon {
  cursor: pointer;
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu-icon div {
  height: 4px !important;
  border-radius: 2px;
  width: 100%;
  background-color: white;
  transition: transform 0.3s ease-in-out;
}

.menu-icon.open div:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.menu-icon.open div:nth-child(2) {
  opacity: 0;
}

.menu-icon.open div:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.mobile-menu {
  position: absolute;
  top: 68px;
  right: 0;
  background: white;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px 0 16px;
  align-items: center;
  /* transform: translateX(100%); */
  transform: translateX(0);
  display: none;
  transition: transform 0.3s ease-in-out;
}

.mobile-menu.open {
  display: flex;
  /* transform: translateX(0); */
}

.mobile-menu button:hover {
  background: #f1f1f1;
  text-decoration: underline;
}
